<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253366602627-dtra2151ireen88odj48esju1ca6qtl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253366602627-dtra2151ireen88odj48esju1ca6qtl4</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Pkk_lYR3W5CiNOqo7pPHxtoIXL3mD60</string>
	<key>GCM_SENDER_ID</key>
	<string>253366602627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vendorapp</string>
	<key>PROJECT_ID</key>
	<string>vendor-3a750</string>
	<key>STORAGE_BUCKET</key>
	<string>vendor-3a750.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253366602627:ios:1d1451ee0b7ca1b78984b6</string>
</dict>
</plist>